:root {
    --primary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}